@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/montserrat-medium.otf") format("opentype"),
    url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans Regular";
    src: url("../fonts/nunitosans-regular.ttf") format("truetype"),
    url("../fonts/nunitosans-regular.woff") format("woff");
}

* {
    outline: none;
}

/***************** H E D A E R ******************/
.section-home {
    height: 670px;
    background: url("../images/bg-home.jpg") no-repeat;
    background-size: cover;
}

nav.navbar {
    margin: 0;
    padding-top: 24px;
    background: transparent;
    border: none;
}

nav.navbar ul.nav > li > a {
    color: black;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.1s;
}

nav.navbar ul.nav > li:first-of-type > a {
    color: #66cccc;
}

.top-menu-active-tab {
    color: #66cccc;
}

/***************** H E D A E R  E N D ******************/
/***************** A B O U T ******************/
.section-about .about-text {

    text-align: center;
    padding-top: 95px;
    padding-bottom: 75px;
}

.section-about h2 {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 33px;
}

.section-about .about-text p {
    font-family: "Nunito Sans Regular", sans-serif;
    font-size: 17px;
    color: #666666;
    margin-bottom: 34px;
}

.section-about .about-skills {
    padding-top: 150px;
    padding-bottom: 120px;
    background-size: cover;
    background: url("../images/bg-about.png") no-repeat right bottom;
    color: black;
}

.section-about .about-skills h3 {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-skills .progress-line {
    width: 83%;
    max-width: 500px;
    height: 3px;
    margin-top: 17px;
    margin-bottom: 38px;
}

.about-skills .progress-line:nth-of-type(1) {
    background: linear-gradient(to right, #10c9c3 75%, #cccccc 75%, #cccccc 100%);
}

.about-skills .progress-line:nth-of-type(2) {
    background: linear-gradient(to right, #10c9c3 90%, #cccccc 90%, #cccccc 100%);
}

.about-skills .progress-line:nth-of-type(3) {
    background: linear-gradient(to right, #10c9c3 65%, #cccccc 65%, #cccccc 100%);
}

/***************** A B O U T  E N D ******************/
/***************** W O R K ******************/
.section-work .work-summary {
    background-color: #10c9c3;
}

.section-work .work-summary .row > div {
    height: 240px;
    padding: 97px 0 0 0;
}

.section-work .work-summary .row > div > img {
    padding-top: 7px;
}

.section-work .work-summary .row > div > img + div {
    vertical-align: top;
    display: inline-block;
}

.section-work .work-summary .row > div > img + div > p {
    margin: 0 0 7px 11px;
    font-family: "Montserrat Medium", sans-serif;
    color: white;
}

.section-work .work-summary .row > div > img + div > p:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
}

.section-work .work-summary .row > div > img + div > p:nth-of-type(2) {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-work .work-examples .row > div {
    position: relative;
    padding: 0;
}

.section-work .work-examples .row > div > img {
    width: 100%;
}

.section-work .work-examples .work-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52, 0.90);
    opacity: 0;
}

.section-work .work-examples .work-img-overlay:hover {
    opacity: 1;
}

.section-work .work-examples .work-img-overlay > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.work-load-more {
    height: 100px;
    text-align: center;
}

.work-load-more > p {
    display: inline-block;
    padding-top: 45px;
    text-transform: uppercase;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #c2c2c2;
    letter-spacing: 1px;
    cursor: pointer;
}

.work-load-more > p:hover {
    color: #696969;
}

/***************** W O R K  E N D ******************/
/***************** P R O C E S S  ******************/

.process-text > .row > div:first-of-type {
    padding-top: 90px;
    text-align: center;
}

.section-process .process-text h2 {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 33px;
}

.section-process .process-text p {
    font-family: "Nunito Sans Regular", sans-serif;
    font-size: 16px;
    color: #666666;
    margin-bottom: 34px;
}

.section-process .process-video {
    height: 570px;
}

.section-process .process-video .row > div {
    padding: 0;
}

/***************** P R O C E S S  E N D ******************/
/***************** S E R V I C E S  ******************/
.section-services {
    padding-top: 85px;
    padding-bottom: 70px;
}

.section-services .row > div {
    text-align: center;
    height: 195px;

}

.section-services .row > div > h3 {
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-services .row > div > p {
    font-family: "Nunito Sans Regular", sans-serif;
    font-size: 16px;
    color: #666666;
}

/***************** S E R V I C E S  E N D ******************/
/***************** T E S T I M O N I A L S  ******************/
.section-testimonials {
    background: #10c9c3;
    padding-top: 180px;
    padding-bottom: 50px;
}

.section-testimonials .slide {
    text-align: center;
    color: white;
    font-family: "Montserrat Medium", sans-serif;
    padding-bottom: 70px;
}

.section-testimonials .slide > p:nth-of-type(1) {
    font-size: 24px;
}

.section-testimonials .slide > p:nth-of-type(2) {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 25px;
    letter-spacing: 1px;
}

.section-testimonials .owl-theme .owl-dot > span {
    width: 5px;
    height: 5px;
    background-color: #b0e8e6;
}

.section-testimonials .owl-theme .owl-dot > span:hover {
    background-color: white;
}

.section-testimonials .owl-theme .owl-dot.active > span {
    transform: scale(2, 2);
    background-color: white;
    border-radius: 50%;
}

.section-brands {
    height: 200px;
    padding-top: 55px;
}

.section-brands .owl-carousel .owl-item {
    text-align: center;
}

.section-brands .slide {
    display: inline-block;
    width: 130px;
    height: 75px;
    text-align: center;
}

.section-brands .slide img {
    width: auto;
    height: auto;
}

/***************** T E S T I M O N I A L S  E N D ******************/


