@import "reset.css";

.slider {
    margin:0 auto;
	position: relative;
    /* background-color: rgb(40, 82, 121); */
    width:1280px;
	overflow: hidden;
    height: 720px;
}

.slide-content {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
}

.slide-content > img {
    width: 1280px;
    height: 720px;
}

.slider-bottom-buttons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-bottom-buttons > li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.slider-bottom-buttons > li:nth-of-type(1) {
    background-color: white;
}

.slider-arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 60px;
    color: rgba(211, 255, 171, 0.5);
    text-align: center;
    line-height: 61px;
    cursor: pointer;
}

.move-back {
    left: 15px;
}

.move-next {
    right: 15px;
}